<div  ng-controller="reportCtrl">

    <div class="col-md-12" ng-show="visiblePlotw">
        <h1>Report statistics</h1>
        <div class="prompt-statistics fixed-width">
            <dl id="chart">
                <dt>New</dt>
                <dd><span class="data-one" style="width:{{visiblePlot.newed/visiblePlot.sum*100}}%;">{{visiblePlot.newed/visiblePlot.sum*100|number:1}}%</span>
                </dd>

                <dt>Dismissed</dt>
                <dd><span class="data-one" style="width:{{visiblePlot.canceled/visiblePlot.sum*100}}%;">{{visiblePlot.canceled/visiblePlot.sum*100|number:1}}%</span>
                </dd>
                <dt>Accepted</dt>
                <dd><span class="data-one" style="width:{{visiblePlot.accepted/visiblePlot.sum*100}}%;">{{visiblePlot.accepted/visiblePlot.sum*100|number:1}}%</span>
                </dd>
                <dt>Closed</dt>
                <dd><span class="data-one" style="width:{{visiblePlot.ended/visiblePlot.sum*100}}%;">{{visiblePlot.ended/visiblePlot.sum*100|number:1}}%</span>
                </dd>
            </dl>
        </div>
    </div>


    <div id="status-submission-table" class="stick-left">
        <div>
            <th>Show submission with status:</th>
        </div>
        <div>
            <div style="padding: 5px;float:left;" ng-repeat="status in getCategories()"><input type="checkbox"
               ng-model="filter[status]" ng-init="filter[status]=true">
                {{status|statusName}}
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <div class="panel panel-default fixed-width">
            <div class="panel-body">
                <table id="reportTable" class="table table-condensed transform-table" style="border-collapse:collapse;">
                    <thead>
                    <tr>
                        <th style="width:225px;">
                            <a href="" ng-click="order('username')">Użytkownik</a>
                            <span class="sortorder" ng-show="predicate === 'username'" ng-class="{reverse:reverse}" />
                        </th>
                        <th class="priorityColumn">
                            <a href="" ng-click="order('priority')">Priorytet</a>
                            <span class="sortorder" ng-show="predicate === 'priority'" ng-class="{reverse:reverse}" />
                        </th>
                        <th>
                            <a href="" ng-click="order('title')">Tytuł</a>
                            <span class="sortorder" ng-show="predicate === 'title'" ng-class="{reverse:reverse}" />
                        </th>
                        <th class="statusColumn">
                            <a href="" ng-click="order('status')">Status</a>
                            <span class="sortorder" ng-show="predicate === 'status'" ng-class="{reverse:reverse}" />
                        <th/>

                    </tr>
                    </thead>
                    <tbody class="prompt-data-table-body" ng-repeat="item in filtered=(report | filter:filterByCategory) | orderBy:predicate:reverse| filter:categoryFilterFn"
                           ng-hide="item.id == editedReport.id">

                    <tr ng-keyup="$event.keyCode == 13 && onEnterPress(item)" ng-click="changeState(item)" alt="Expand new row with submission shortened details" tabindex="0">
                        <td>{{item.username}}</td>
                        <td class="priorityColumn">{{item.priority}}</td>
                        <td>{{item.title}}</td>
                        <td class="statusColumn">{{item.status|statusName}}</td>
                        <td>
                            <button id="expand-row-button{{$index}}" class="btn btn-default btn-xs" ng-click="selectReport(item)" alt="Open submission extended details">
                                <span class="glyphicon glyphicon-eye-open"></span>
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="12" ng-class="{hiddenRow : hiddenRowState !== item} ">
                            <div class="hiddenContent" id="expand-row{{$index}}">
                                <table class="table hiddenTable" tabindex="0">
                                    <thead>
                                    <tr>
                                        <td>Ulica</td>
                                        <td>numer domu/mieszkania</td>
                                        <td>Miasto</td>
                                        <td>Kod pocztowy</td>
                                        <td>email</td>
                                        <td>Telefon</td>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>{{item.street}}</td>
                                        <td>{{item.streetnumber}}/{{item.apartmentnumber}}</td>
                                        <td>{{item.city}}</td>
                                        <td>{{iem.citycode}}</td>
                                        <td>{{item.email}}</td>
                                        <td>{{item.phonenumber}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </td>
                    </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
