<div ng-controller="reportCtrl">

    <div class="col-md-12" ng-show="!selectedReport">
        <h1>Report statistics</h1>
        <div class="prompt-statistics fixed-width">
            <dl id="chart">
                <dt>New</dt>
                <dd><span class="data-one" style="width:{{visiblePlot.newed/visiblePlot.sum*100}}%;">{{visiblePlot.newed/visiblePlot.sum*100|number:1}}%</span>
                </dd>

                <dt>Dismissed</dt>
                <dd><span class="data-one" style="width:{{visiblePlot.canceled/visiblePlot.sum*100}}%;">{{visiblePlot.canceled/visiblePlot.sum*100|number:1}}%</span>
                </dd>
                <dt>Accepted</dt>
                <dd><span class="data-one" style="width:{{visiblePlot.accepted/visiblePlot.sum*100}}%;">{{visiblePlot.accepted/visiblePlot.sum*100|number:1}}%</span>
                </dd>
                <dt>Closed</dt>
                <dd><span class="data-one" style="width:{{visiblePlot.ended/visiblePlot.sum*100}}%;">{{visiblePlot.ended/visiblePlot.sum*100|number:1}}%</span>
                </dd>
            </dl>
        </div>
    </div>
    <div ng-show="selectedReport">
        <div>
            <h1 tabindex="0">Report Details</h1>

            <table class="table table-striped table-bordered">
                <tr>
                    <th>Nazwa Pola</th>
                    <th>Zawartość</th>
                </tr>
                <tr>
                    <td>Nazwa użytkownika</td>
                    <td>{{selectedReport.username}}</td>
                </tr>
                <tr>
                    <td>
                        Adres<br>
                        email {{item.email}}<br>
                        telefon {{item.phonenumber}}<br>
                    </td>
                    <td>{{selectedReport.street}}
                        {{selectedReport.streetnumber}} /
                        {{selectedReport.apartmentnumber}}
                        {{selectedReport.citycode}}
                        {{selectedReport.city}}<br>
                        {{selectedReport.email}}<br>
                        {{selectedReport.phonenumber}}
                    </td>
                </tr>
                <tr>
                    <td>Data dodania</td>
                    <td>{{selectedReport.insertion_date| limitTo: 10}}</td>
                </tr>
                <tr>
                    <td>Priorytet</td>
                    <td><select ng-model="selectedReport.priority"
                                ng-options="priority.name as priority.name for priority in data.priority"
                                ng-click="updateReport(selectedReport);refreshPlot();" required>
                        <option value="">{{selectedReport.priority}}</option>
                    </select></td>
                </tr>
                <tr>
                    <td>Gdzie</td>
                    <td>{{selectedReport.place}}</td>
                </tr>
                <tr>
                    <td>Tytuł</td>
                    <td><input ng-model="selectedReport.title" ng-keyup="updateReport(selectedReport);refreshPlot();"
                               required/></td>
                </tr>
                <tr>
                    <td>Opis</td>
                    <td>{{selectedReport.description}}</td>
                </tr>
                <tr>
                    <td>Sugestie</td>
                    <td>{{selectedReport.sugestions}}</td>
                </tr>
                <tr>
                    <td>Zdjęcia</td>
                    <td>
                        <div>
                            <img id="obrazek" data-ng-src="{{'data:image/png;base64,'+selectedReport.photo}}"
                                 width="300" height="220" ng-click="zmniejszObraz()">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Status</td><!--<td>{{selectedReport.status|statusName}}</td>-->
                    <td>
                        <!--<input ng-model="editedReport.status" required />-->
                        <select ng-model="selectedReport.status"
                                ng-options="status.value as status.name for status in data.status"
                                ng-click="updateReport(selectedReport);refreshPlot();" required>
                            <option value="">{{selectedReport.status|statusName}}</option>
                        </select>
                    </td>
                </tr>
            </table>
            <button ng-click="updateReport(selectedReport); refreshPlot(); reloadPage2();"
                    class="btn btn-xs btn-primary">Reports List
            </button>
        </div>
    </div>
<div class="table-with-details" ng-show="!selectedReport">
    <div id="status-submission-table"  class="stick-left">
        <div>
            <th>Show submission with status:</th>
        </div>
        <div>
            <div style="padding: 5px;float:left;" ng-repeat="status in getCategories()"><input type="checkbox"
               ng-model="filter[status]" ng-init="filter[status]=true">
                {{status|statusName}}
            </div>
        </div>
    </div>
    <div class="loader" ng-show="showSpinner" style="position:absolute; width:120px; z-index:100; left:40%; height:120px;" alt="Spinner, showing when user is waiting to log in."></div>
    <div class="col-md-12">
        <div class="panel panel-default fixed-width">
            <div class="panel-body">
                <table id="reportTable" class="table table-condensed transform-table" style="border-collapse:collapse;">
                    <thead>
                    <tr>
                        <th></th>
                        <th style="width:225px;">
                            <a href="" ng-click="order('username')">Username</a>
                            <span class="sortorder" ng-show="predicate === 'username'" ng-class="{reverse:reverse}" />
                        </th>
                        <th class="priorityColumn">
                            <a href="" ng-click="order('priority')">Priority</a>
                            <span class="sortorder" ng-show="predicate === 'priority'" ng-class="{reverse:reverse}" />
                        </th>
                        <th>
                            <a href="" ng-click="order('title')">Title</a>
                            <span class="sortorder" ng-show="predicate === 'title'" ng-class="{reverse:reverse}" />
                        </th>
                        <th class="statusColumn">
                            <a href="" ng-click="order('status')">Status</a>
                            <span class="sortorder" ng-show="predicate === 'status'" ng-class="{reverse:reverse}" />
                        </th>
                        <th>
                            <a href="">More</a>
                        </th>

                    </tr>
                    </thead>
                    <tbody class="prompt-data-table-body" ng-repeat="item in filtered=(report | filter:filterByCategory) | orderBy:predicate:reverse| filter:categoryFilterFn"
                           ng-hide="item.id == editedReport.id">

                    <tr ng-keyup="$event.keyCode == 13 && onEnterPress(item)" ng-click="changeState(item)" alt="Expand new row with submission shortened details" tabindex="0">
                        <td>{{$index+1}}.</td>
                        <td>{{item.username}}</td>
                        <td class="priorityColumn">{{item.priority}}</td>
                        <td>{{item.title}}</td>
                        <td class="statusColumn">{{item.status|statusName}}</td>
                        <td>
                            <button id="expand-row-button{{$index}}" class="btn btn-default btn-xs" ng-click="selectReport(item)" alt="Open submission extended details">
                                <span class="glyphicon glyphicon-eye-open"></span>
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="12" ng-class="{hiddenRow : hiddenRowState !== item} ">
                            <div class="hiddenContent" id="expand-row{{$index}}">
                                <table class="table hiddenTable" tabindex="0">
                                    <thead>
                                    <tr>
                                        <td>Street</td>
                                        <td>Home/Flat number</td>
                                        <td>City</td>
                                        <td>Street number</td>
                                        <td>Email</td>
                                        <td>Phone</td>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>{{item.street}}</td>
                                        <td>{{item.streetnumber}}/{{item.apartmentnumber}}</td>
                                        <td>{{item.city}}</td>
                                        <td>{{item.citycode}}</td>
                                        <td>{{item.email}}</td>
                                        <td>{{item.phonenumber}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </td>
                    </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</div>
