body {
    background: #eee;
}

h1{
    padding: 8px;
}

.sortorder:after {
    content: '\25bc';
}

.sortorder.reverse:after {
    content: '\25b2';
}

#chart dd {
    border-right: 0;
}

.prompt-statistics {
    font-size: 90%;
    border-radius: 4px;
    border: 1px solid #ddd;
    padding-bottom: 30px;
    margin-left: 10px;
    margin-bottom: 30px;
}

.data-one {
    width: 0.0%;
}

#reportTable {
    width: auto;
    margin-bottom:0px;
}

#reportTable td {
    max-width: 300px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

#reportTable td input {
    max-width: 225px;
}

#chart {
    margin: 15px;
}

#chart dt {
    width: 20px;
    /*float: left;*/
    padding: 2px 0;
    /*display: inline;*/
    font-weight: bold;
    text-align: right;
}

#chart dd {
    width: 100%;
    float: left;
    margin-bottom: 5px;
    display: inline;
}

#chart dd span {
    color: #fff;
    background: #09f;
    text-align: center;
    padding: 2px 0;
    display: block;

    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    background: -webkit-gradient(linear, left top, left bottom, from(#09f), to(#077fd0));
    -webkit-box-reflect: below 0 -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.25)));
}

.panel-default.ng-scope{
    padding-bottom: 100px;
}

.panel-default, .alert-danger, .alert-info{
    margin: 10px;

}
/*.transform-table{
    min-width: 740px;
}*/
.loader {
    border: 16px solid #fff;
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 2s linear infinite;
    float: right;

}
#mainPanel .btn-primary{
    text-shadow:none;
}


.hiddenRow{
    display: none;
}

.hiddenTable tbody{
    background-color: #eeeeee;
}

#reportTable tbody tr:hover{
    background-color: #f9f9f9;
    cursor:pointer
}

.hiddenTable.table>thead>tr,
.hiddenTable thead tr:hover,
.hiddenTable thead tr:focus {
    background-color: #cdcdcd !important;
}

@media (max-width: 1050px) {
    .statusColumn{
        display:none;
    }

/*    .priorityColumn{
        display:none;
    }*/
}
@media (max-width: 700px) {
        .priorityColumn{
            display:none;
        }
}
@media (min-width: 1050px) {

    .fixed-width {
        width: 800px;

    }
}
.fixed-width{
    min-width: 315px;
}
.panel-body-left {
    margin-top: 100px;
    padding-top: 0;
}

#status-submission-table{
    margin-left: 40px;
}
.logOut button{
    position: relative;
    left: 50%;
    margin-top: 25px;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
.logOut .panel{
    position: absolute;
    top: 25%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
.stick-left{
    display: inline-block;
}
@media screen and (min-height: 700px) {
    #mainPanel {
        min-height: 700px;
    }
}

/*
angular styles
*/
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}